/*
Created by Kevin Walchko
MIT license 2015
*/

table.center {
	margin-top: 150px;
	margin-left:auto;
	margin-right:auto;
}

td.bold {
	font-weight: bold;
	text-align: right;
}

h1.center {
	text-align: center;
	margin: 0px;
}

div.center {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

header {
	padding:0px;
	position: fixed;
	left: 0;
	top: 0;
	color: white;
	width: 100%;
	display: block;
}

footer {
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

a {
	display: inline-block;
	margin: 0 40px;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
}

a.button {
	background-color: white;
  border: 2px solid #f44336;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
	text-transform: none;
}

a.button:hover {
    background-color: #f44336;
    color: white;
}

div.error {
	text-align: center;
	font-size: 100px;
	color: #888;
	margin-top: 0px;
	margin-bottom: 0px;
}
body.error {
	background-color: #444;
}

/*
These are the different colors by operating system for the header/footer
*/
header.apple {background-color: #555555;}
footer.apple {background-color: #555555;}

header.redhat {background-color: red;}
footer.redhat {background-color: red;}

header.linuxmint {background-color: green;}
footer.linuxmint {background-color: green;}

header.ubuntu-inverse {background-color: orangered;}
footer.ubuntu-inverse {background-color: orangered;}

header.slackware {background-color: SLATEBLUE;}
footer.slackware {background-color: SLATEBLUE;}

header.freebsd {background-color: red;}
footer.freebsd {background-color: red;}

header.fedora {background-color: blue;}
footer.fedora {background-color: blue;}

header.opensuse {background-color: green;}
footer.opensuse {background-color: green;}

header.centos {background-color: purple;}
footer.centos {background-color: purple;}

header.archlinux {background-color: #0099ff;}
footer.archlinux {background-color: #0099ff;}

header.opensuse {background-color: plum;}
footer.opensuse {background-color: plum;}

header.debian {background-color: red;}
footer.debian {background-color: red;}

header.raspberrypi {background-color: #cc3300;}
footer.raspberrypi {background-color: #cc3300;}

header.tux {background-color: #999900;}
footer.tux {background-color: #999900;}
