h1 {
	text-align: center;
}
/*body {
	background-color: #aaa;
}*/
img {
	display: block;
	margin: 0 auto;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
table tr td:first-child {
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
footer {
	position:absolute;  /*keeps it at the bottom */
	bottom:0;  /* keeps it at the bottom */
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: #888888;
	margin: 0px;
	padding: 0px;
	margin-top: 20px; /* space between content and footer */
	border-top: 1px solid #666666;
}
a {
	display: inline-block;
	# margin: 0 40px;
	text-decoration: none;
	color: #ffffff;
	# text-transform: uppercase;
	# font-size: 12px;
	text-align: center;
}
p {
	text-align: center;
}
.stamp {
	position: absolute;
	top: 0px;
	right: 10px;
	color: #ffffff;
}
.container {
	position: relative;
}
